{% extends "base.html" %}
{% block title %}BM Index{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
    {% if user.is_authenticated %}
<!--    <div>{{ user.username }}님, 안녕하세요!</div>-->
        {% if user.partner %}
            환영합니다.
        {% else %}
            추가정보를 입력하세요.
            <form action="" method="post">
                {% csrf_token %}
<!--                <div class="form-group">-->
<!--                    <input type="text" name="name" class="form-control">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" name="contact" class="form-control">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" name="address" class="form-control">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="text" name="description" class="form-control">-->
<!--                </div>-->
                {{ form.as_p }}
                <button class="btn default">저장하기</button>
            </form>
        {% endif %}
    {% else %}
    <div>로그인 해주세요.</div>
    {% endif %}
</div>
{% endblock %}