{% extends "base.html" %}
{% block title %}BM signup{% endblock %}
{% block body %}
{% include "navbar.html" %}
<!--<body class="text-center" data-gr-c-s-loaded="true">-->
<form method="post" action="" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <input type="text" name="username" class="form-control"
         placeholder="Username" required="" autofocus="">
    <input type="email" name="email" class="form-control"
         placeholder="Email address" required="" autofocus="">
    <input type="password" name="password" class="form-control"
         placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign up
    </button>
    {% if is_client %}
        <div class="text-center">
            <a href="/partner/signup">업체용 회원가입 하기</a>
        </div>
    {% endif %}
    <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
</form>
<!--</body>-->
{% endblock %}